body {
  background-color: lightblue;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
  flex-wrap: wrap;
}

.todos {
  width: 90%;
  margin: 4px auto;
  padding: 8px;
  background-color: hotpink;
}

.submitToDo {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 4px;
  margin-top: auto;
  width: 100px;
}

.closeToDo {
  font-weight: bold;
  border: none;
  width: 100%;
  text-align: right;
  padding: 0;
  background-color: transparent;
  color: white;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

label {
  margin: 0;
}

textarea {
  border: solid black 1px;
}

@media only screen and (min-width: 500px) {
  .todoContainer {
    flex-direction: row;
  }

  .todos {
    width: 22%;
  }

  form {
    flex-direction: row;
  }

  label {
    margin-right: 10px;
  }
}
